<!--主页-->
{% extends 'base.html' %}

{% block title %}主页{% endblock %}

{% block content %}
{% load list_markdown %}
<!-- Alert -->
<div class="alert alert-success alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>欢迎</strong> 希望在这里可以找到你想要的东西
</div>
<!-- Articles -->
{% if article_list %}
    {% for article in article_list %}
    <div class="row">
		<article class="col-xs-12">
			<h2><a id="article_title" href="/blog/{{ article.id }}">{{ article.title }}</a></h2>
			<p>{{ article.get_markdown | safe | truncatechars_html:100 }}</p>
			<p><a id="Read_More" href="/blog/{{ article.id }}"><button class="btn btn-default">Read More</button></a></p>
			<p class="pull-right">
				{% for tag in article.tags.all %}
				<span class="label label-default">{{ tag.name }}</span>
				{% endfor %}
			</p>
			<ul class="list-inline">
				<li><span class="glyphicon glyphicon-time"></span> {{ article.pub_date | date:"j M" }}</li>
				<li><span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }}</li>
			</ul>
		</article>
    </div>
    {% endfor %}
{% else %}
	<div class="row">
		<article class="col-xs-12">
			<h2>未找到文章</h2>
		</article>
		</div>
	<hr>
{% endif %}

{% endblock %}

{% block right %}
	{% include 'rightside.html' %}
{% endblock %}
